.wrapper {
    background: blue;
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.title {
    background: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hero {
    background: green;
    height: 100px;
    width: 50%;
    display: inline-block;
    float: left;
}

#hero-text {
    float: left;
    height: auto;
    width: 40%;
}
#hero-value {
    float: right;
    height: auto;
    width: 60%;
}

/*
#hero-name {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

#hero-exp {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}
*/

#enemy {
    background: yellow;
    height: 100px;
    width: 50%;
    display: inline-block;
    float: right;
}

#enemy-health {
    background: blue;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}
